<div class="container">

  
  <h3 class="d-flex justify-content-center" style ="margin-top:10px">Employee Management App</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button routerLink="position"
          class="m-1 btn btn-light btn-outline-primary" Button>Position</button>
      </li>

      <li class="nav-item">
          <button routerLink="employee"
          class="m-1 btn btn-light btn-outline-primary" Button>Employees</button>
      </li>
  </ul>
  </nav>

<router-outlet></router-outlet>

</div>